{% extends "base.html" %}


{% block title %}
Create Post
{% endblock %}


{% block content %}
<h1 align="center">Post an Idea</h1>

<form method="post">
    <textarea name="text" id="text" class="form-control" cols="30" rows="10"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-lg btn-primary">Post</button>
        <a href="/home">
            <button type="button" class="btn btn-secondary btn-lg">Back</button>
        </a>
    </div>
    
</form>
{% endblock %}